

footer {
    background-color: #010207;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.none {
    list-style-type: none;
}


/*
le "div" est important pour ne pas avoir à mettre "!important"
bootstrap est prioritaire sur les autres styles car il est appelé en dernier
*/
div.h3 {
    color: #A2ECCE;
    font-family: "Orbitron";
    font-size: 30px;
}
.input.blanc {
    color: #F5F3DE;
    margin-bottom: 1em;
}
.input.vert {
    color: #A2ECCE;
    row-gap: 2em;
}

footer > div {
    display: flex;
    flex-direction: column;   
    column-gap: 1em;
    row-gap: 1em;
}

.rs {
    margin-left: -1em;
    margin-top: -1em;
}
.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    margin-top: -1em;
}
.lune {
    width: 4em;
    height: 4em;
    margin-right: 1em;
}
.col1 {
    margin-left: 10em;
    row-gap: 1em;
}
.col4 {
    margin-right: 10em;
}



@media screen and (max-width: 576px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > div {
        flex-direction: column;
        margin-bottom: 1em;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        align-items: center;
    }

    .lune {
        display: none;
    }

    .col1 {
        margin-left: 0px;
    }
    .col4 {
        margin-right: 0px;
    }
    .none {
        padding:0px;
    }
    
}

